<section class="phx-hero">
  <h2>Star Tracker</h2>
  <p class="lead">Track and trade resources related to star formation.</p>
  <p>Now with warp-speed mode... get light-years ahead of the competition.</p>
</section>
